.container .navbar{
    width: 100wh;
}

.navbar .navbar-brand{
    font-weight: bold;
    color:white;
}

.navbar-nav .nav-item .nav-link{
    font-weight:bold;
    color:white;
}
nav {
    height: 9.1vh;
}

#carousel1 {
    width: 100wh;
    height: 100vh;
}
.carouselitem1 {
    width: 100Wh;
    height: 100vh;
    background-image: url(../Images/paisaje1.jpg);
    background-size: cover;
}
.carouselitem2 {
    width: 100wh;
    height: 100vh;
    background-image: url(../Images/paisaje2.jpg);
    background-size: cover;
}
.carouselitem3 {
    width: 100wh;
    height: 100vh;
    background-image: url(../Images/paisaje3.jpg);
    background-size: cover;
}

.navbar-overlay {
    margin-bottom: -9.1vh;
}

@media only screen and (max-width:768px){
    .navbar-collapse{
        background-color:rgba(0,0,0,0.6);
    }
}
